.add-song-wrapper {
    display: flex;
    justify-content: center;
}

.add-song {
    color: black;
    width: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 auto;
}

.result h4 {
    padding: 20px;
}

.search-wrapper {
    display: flex;
    align-items: center;
    margin: 25px;
}

.search-input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.search-input-wrapper input {
    width: 100%;
    padding: 10px;
    max-width: 500px;
}

@media screen and (min-width: 768px) {
    .result {
        flex-direction: row;
        width: 50%;
    }
}